a{
    text-decoration: none;
}

.nav {
    /* 用 position: fixed; 可以固定住側欄 */
    position: fixed;
    min-width: 250px;
    min-height: 100vh;

    &-link{
        padding: 12px 32px;
        position: relative;
    }

    &-logo{
        padding: 42px 12px;
    }
}

.nav-link.hover::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
}

.main {
    margin-left: 250px;
}

.full{
    width: 100%;
}

.modal-header {
    border-bottom: 0 !important;
}
